extends ../layout

block content
  .container
    .row
      if movie
        .col-md-7
          embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="750",height="600",align="middle",type="application/x-shockwave-flash") 
        .col-md-5
          .dl-horizontal
            dt 电影名字
            dd #{movie.title} 
            dt 导演
            dd #{movie.doctor}
            dt.actors 主演
            dd #{movie.actors}
            dt 国家
            dd #{movie.country}
            dt 语言
            dd #{movie.language}
            dt 类型
            dd #{movie.category}
            dt 上映年份
            dd #{movie.year} 
            dt 简介
            dd
              span.summary #{movie.summary}
      else
        div(style="height:400px")
          .col-md-6
            h1 电影不存在        
          .col-md-6
            a.btn.btn-primary(href='/movie/new') 添加一个？
  script(src="/javascripts/movie.js",type="text/javascript")


