doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    include ../includes/head
    link(rel="stylesheet",href="/stylesheets/detail.css")
  body
    include ../includes/header
    .container
      .col-md-6.col-md-offset-1
        form#new_movie_form.form-horizontal(method="post",action="/post/new_movie",enctype='multipart/form-data')
          input(type="hidden",name="_id",value="#{movie._id}")
          - if(user)
            input(type="hidden",name="user_id",value="#{user._id}")
          .form-group
            label.col-sm-2.control-label(for="douban") 豆瓣同步
            .col-sm-7
              input#douban.form-control(type="text",name="douban",placeholder="请输入豆瓣电影ID")
            button#getDouban.btn.btn-primary(type="button",data-loading-text="正在加载...",autocomplete="off") 同步数据
          .form-group
            label.col-sm-2.control-label(for="inputTitle") 电影名字
            .col-sm-7
              input#inputTitle.form-control(type="text",name="title",value="#{movie.title}")
          .form-group
            label.col-sm-2.control-label(for="inputDirector") 电影导演
            .col-sm-7
              input#inputDirector.form-control(type="text",name="director",value="#{movie.director}")
          .form-group
            label.col-sm-2.control-label(for="inputActors") 主演
            .col-sm-7
              input#inputActors.form-control(type="text",name="actors",value="#{movie.actors}")
          .form-group
            label.col-sm-2.control-label(for="inputCountry") 国家
            .col-sm-7
              input#inputCountry.form-control(type="text",name="country",value="#{movie.country}")
          .form-group
            label.col-sm-2.control-label(for="inputLanguage") 语种
            .col-sm-7
              //- input#inputLanguage.form-control(type="text",name="language",value="#{movie.language}")
              select#inputLanguage.form-control(name="language")
                - if(movie.language.indexOf('普通话')!==-1)
                    option(value="普通话",selected="selected")  普通话
                - else
                    option(value="普通话")  普通话
                - if(movie.language.indexOf('粤语')!==-1)
                    option(value="粤语",selected="selected")  粤语
                - else
                    option(value="粤语")  粤语
                - if(movie.language.indexOf('英语')!==-1)
                    option(value="英语",selected="selected")  英语
                - else
                    option(value="英语")  英语
                - if(movie.language.indexOf('法语')!==-1)
                    option(value="法语",selected="selected")  法语
                - else
                    option(value="法语")  法语
                - if(movie.language.indexOf('俄语')!==-1)
                    option(value="俄语",selected="selected")  俄语
                - else
                    option(value="俄语")  俄语
                - if(movie.language.indexOf('日语')!==-1)
                    option(value="日语",selected="selected")  日语
                - else
                    option(value="日语")  日语
                - if(movie.language.indexOf('德语')!==-1)
                    option(value="德语",selected="selected")  德语
                - else
                    option(value="德语")  德语
                - if(movie.language.indexOf('其他')!==-1)
                    option(value="其他",selected="selected")  其他
                - else
                    option(value="其他")  其他
          .form-group
            label.col-sm-2.control-label(for="selectCategory") 类型
            .col-sm-7
              input#oldCategory.form-control(type="hidden",name="oldCategory",value="#{movie.category}")
              select#selectCategory.form-control(name="category",multiple="multiple")
                - if(movie.category.indexOf('动作')!==-1)
                    option(value="动作",selected="selected")  动作
                - else
                    option(value="动作")  动作
                - if(movie.category.indexOf('剧情')!==-1)
                    option(value="剧情",selected="selected")  剧情
                - else
                    option(value="剧情")  剧情
                - if(movie.category.indexOf('爱情')!==-1)
                    option(value="爱情",selected="selected")  爱情
                - else
                    option(value="爱情")  爱情
                - if(movie.category.indexOf('喜剧')!==-1)
                    option(value="喜剧",selected="selected")  喜剧
                - else
                    option(value="喜剧")  喜剧 
                - if(movie.category.indexOf('科幻')!==-1)
                    option(value="科幻",selected="selected")  科幻
                - else
                    option(value="科幻")  科幻 
                - if(movie.category.indexOf('动画')!==-1)
                    option(value="动画",selected="selected")  动画
                - else
                    option(value="动画")  动画 
                
                - if(movie.category.indexOf('惊悚')!==-1)
                    option(value="惊悚",selected="selected")  惊悚
                - else
                    option(value="惊悚")  惊悚 

                - if(movie.category.indexOf('犯罪')!==-1)
                    option(value="犯罪",selected="selected")  犯罪
                - else
                    option(value="犯罪")  犯罪 

                - if(movie.category.indexOf('战争')!==-1)
                    option(value="战争",selected="selected")  战争
                - else
                    option(value="战争")  战争  

                - if(movie.category.indexOf('奇幻')!==-1)
                    option(value="奇幻",selected="selected")  奇幻
                - else
                    option(value="奇幻")  奇幻     
          .form-group
            label.col-sm-2.control-label(for="inputPoster") 海报地址
            .col-sm-7
              input#inputPoster.form-control(type="text",name="poster",value="#{movie.poster}")
          .form-group
            label.col-sm-2.control-label(for="uploadPoster") 海报上传
            .col-sm-7
              input#uploadPoster.form-control(type="file",name="uploadPoster")
          .form-group
            label.col-sm-2.control-label(for="inputFlash") 片源地址
            .col-sm-7
              input#inputFlash.form-control(type="text",name="flash",value="#{movie.flash}") 
          .form-group
            label.col-sm-2.control-label(for="inputYear") 上映年代
            .col-sm-7
              input#inputYear.form-control(type="text",name="year",value="#{movie.year}")
          .form-group
            label.col-sm-2.control-label(for="inputSummary") 电影简介
            .col-sm-7
              textarea#inputSummary.form-control(type="text",name="summary") #{movie.summary}
          .form-group
            .col-sm-1.col-md-offset-3
              button#reset-movie.btn.btn-warning.btn-lg(type="reset") 重置
            .col-sm-2.col-md-offset-2
              button#add-movie.btn.btn-success.btn-lg(type="submit") 录入
      .col-md-4(style="position:relative;top:-50px;")
        h3.text-center.panel.panel-heading.text-success 热门电影榜
        .panel-group#accordion(role="tablist",aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab",id="heading0")
              h6.panel-title
                a(data-toggle="collapse",data-parent="#accordion",href="#panel0",aria-expanded="true",aria-controls="panel0")
                  i.badge.clearfix.pull-left 1
                  p.pull-left &nbsp;#{hot_movies[0].title}
                  p.text-right #{hot_movies[0].grade}分
            .panel-collapse.collapse.in(id="panel0",role="tabpanel",aria-labelledby="heading0") 
              .panel-body 
                img.sub-img.img-thumbnail.pull-left(alt="战狼",src="http://asd.jpg")
                .hot-movie-content
                  p 导演：#{hot_movies[0].director}
                  p 主演：#{hot_movies[0].actors}
                  p 电影类型：#{hot_movies[0].category}
                  p 豆瓣评分：#{hot_movies[0].grade}分
          - for(var i=1;i<hot_movies.length;i++)
            .panel.panel-default
              .panel-heading(role="tab",id="heading#{i}")
                h6.panel-title
                  a(data-toggle="collapse",data-parent="#accordion",href="#panel#{i}",aria-expanded="false",aria-controls="panel#{i}")
                    i.badge.clearfix.pull-left #{i+1}
                    p.pull-left &nbsp;#{hot_movies[i].title}
                    p.text-right #{hot_movies[i].grade}分
              .panel-collapse.collapse(id="panel#{i}",role="tabpanel",aria-labelledby="heading#{i}") 
                .panel-body 
                  img.sub-img.img-thumbnail.pull-left(alt="战狼",src="http://asd.jpg")
                  .hot-movie-content
                    p 导演：#{hot_movies[i].director}
                    p 主演：#{hot_movies[i].actors}
                    p 电影类型：#{hot_movies[i].category}
                    p 豆瓣评分：#{hot_movies[i].grade}分
          .panel.panel-default
            .panel-heading(role="tab",id="more")
              .panel-title.text-success.text-center
                a(href="#more") 查看更多

    script(src="/javascripts/movie.js",type="text/javascript")
    include ../includes/footer

