doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    include ../includes/head
    link(rel="stylesheet",href="/stylesheets/detail.css")
  body
    include ../includes/header
    .container
      .col-md-6.col-md-offset-1
        form#new_movie_form.form-horizontal(method="post",action="/post/new_movie")
          input(type="hidden",name="_id",value="#{movie._id}")
          .form-group
            label.col-sm-2.control-label(for="douban") 豆瓣同步
            .col-sm-7
              input#douban.form-control(type="text",name="douban",placeholder="请输入豆瓣电影ID")
            button#getDouban.btn.btn-primary(type="button") 同步数据
          .form-group
            label.col-sm-2.control-label(for="inputTitle") 电影名字
            .col-sm-7
              input#inputTitle.form-control(type="text",name="title",value="#{movie.title}")
          .form-group
            label.col-sm-2.control-label(for="inputDoctor") 电影导演
            .col-sm-7
              input#inputDoctor.form-control(type="text",name="doctor",value="#{movie.doctor}")
          .form-group
            label.col-sm-2.control-label(for="inputCountry") 国家
            .col-sm-7
              input#inputCountry.form-control(type="text",name="country",value="#{movie.country}")
          .form-group
            label.col-sm-2.control-label(for="inputLanguage") 语种
            .col-sm-7
              //- input#inputLanguage.form-control(type="text",name="language",value="#{movie.language}")
              select#inputLanguage.form-control(name="language")
                option 国语
                option 粤语
                option 英语
                option 法语
                option 俄语
                option 日语
                option 德语
                option 阿拉伯语
          .form-group
            label.col-sm-2.control-label(for="selectCategory") 类型
            .col-sm-7
              input#oldCategory.form-control(type="hidden",name="oldCategory",value="#{movie.category}")
              select#selectCategory.form-control(name="category")
                option  动作片
                option  剧情片
                option  爱情片
                option  喜剧片
                option  科幻片
                option  动画片
                option  战争片
                option  犯罪片
                option  魔幻片
          .form-group
            label.col-sm-2.control-label(for="inputPoster") 海报地址
            .col-sm-7
              input#inputPoster.form-control(type="text",name="poster",value="#{movie.poster}")
          //- .form-group
          //-   label.col-sm-2.control-label(for="uploadPoster") 海报上传
          //-   .col-sm-7
          //-     input#uploadPoster.form-control(type="file",name="uploadPoster")
          .form-group
            label.col-sm-2.control-label(for="inputFlash") 片源地址
            .col-sm-7
              input#inputFlash.form-control(type="text",name="flash",value="#{movie.flash}") 
          .form-group
            label.col-sm-2.control-label(for="inputYear") 上映年代
            .col-sm-7
              input#inputYear.form-control(type="text",name="year",value="#{movie.year}")
          .form-group
            label.col-sm-2.control-label(for="inputSummary") 电影简介
            .col-sm-7
              textarea#inputSummary.form-control(type="text",name="summary") #{movie.summary}
          .form-group
            .col-sm-1.col-md-offset-3
              button#reset-movie.btn.btn-warning.btn-lg(type="reset") 重置
            .col-sm-2.col-md-offset-2
              button#add-movie.btn.btn-success.btn-lg(type="submit") 录入
      .col-md-4(style="position:relative;top:-50px;")
        h3.text-center.panel.panel-heading.text-success 热门电影榜
        .panel-group#accordion(role="tablist",aria-multiselectable="true")
          .panel.panel-default
            .panel-heading(role="tab",id="heading0")
              h6.panel-title
                a(data-toggle="collapse",data-parent="#accordion",href="#panel0",aria-expanded="true",aria-controls="panel0")
                  i.icon-num.clearfix.pull-left 1
                  p.pull-left &nbsp;#{hot_movies[0].title}
                  p.text-right #{hot_movies[0].grade}分
            .panel-collapse.collapse.in(id="panel0",role="tabpanel",aria-labelledby="heading0") 
              .panel-body 
                img.sub-img.img-thumbnail.pull-left(alt="战狼",src="http://asd.jpg")
                .hot-movie-content
                  p 导演：#{hot_movies[0].doctor}
                  p 主演：#{hot_movies[0].actors}
                  p 电影类型：#{hot_movies[0].category}
                  p 豆瓣评分：#{hot_movies[0].grade}分
          - for(var i=1;i<hot_movies.length;i++)
            .panel.panel-default
              .panel-heading(role="tab",id="heading#{i}")
                h6.panel-title
                  a(data-toggle="collapse",data-parent="#accordion",href="#panel#{i}",aria-expanded="false",aria-controls="panel#{i}")
                    i.icon-num.clearfix.pull-left #{i+1}
                    p.pull-left &nbsp;#{hot_movies[i].title}
                    p.text-right #{hot_movies[i].grade}分
              .panel-collapse.collapse(id="panel#{i}",role="tabpanel",aria-labelledby="heading#{i}") 
                .panel-body 
                  img.sub-img.img-thumbnail.pull-left(alt="战狼",src="http://asd.jpg")
                  .hot-movie-content
                    p 导演：#{hot_movies[i].doctor}
                    p 主演：#{hot_movies[i].actors}
                    p 电影类型：#{hot_movies[i].category}
                    p 豆瓣评分：#{hot_movies[i].grade}分
          .panel.panel-default
            .panel-heading(role="tab",id="more")
              .panel-title.text-success.text-center
                a(href="#more") 查看更多

    script(src="/javascripts/detail.js",type="text/javascript")
    include ../includes/footer

