extends ../layout

block content
  .container
    .row
      each cat in categories
        div(id="#{cat.name}")
        if cat.movies && cat.movies.length >0
          .panel.panel-default(id="#{cat.name}")
            .panel-heading
              h3 
                a(href="/results?cat=#{cat._id}&p=1") #{cat.name}
            .panel-body
              div(style="margin-left:20px;")
                each item in cat.movies
                  .col-md-3(style="margin-top:10px;width:220px;")
                    .thumbnail(style="height:360px;width:200px")
                      a(href="/m/#{item._id}",style="display:block;height:255px;width:180px")
                        img(src="#{item.poster}",alt="#{item.title}",style="height:255px;width:180px")
                      .caption
                        h5.text-center= item.title
                        a.btn.btn-primary(href="/m/#{item._id}",role="button",style="display:block;") 观看预告片 
    .categories
      ul.list-froup
        a(href="#top")
          li.list-group-item TOP
        a(href="#动作")  
          li.list-group-item 动作片
        a(href="#剧情")  
          li.list-group-item 剧情片
        a(href="#爱情")  
          li.list-group-item 爱情片
        a(href="#喜剧")  
          li.list-group-item 喜剧片
        a(href="#科幻")  
          li.list-group-item 科幻片
        a(href="#动画")  
          li.list-group-item 动画片
        a(href="#惊悚")  
          li.list-group-item 惊悚片
        a(href="#犯罪")  
          li.list-group-item 犯罪片
        a(href="#战争")  
          li.list-group-item 战争片
        a(href="#奇幻")  
          li.list-group-item 奇幻片
















