extends ../layout

block content
  .container
    .row
      - if(categories)
        - for(var cat in categories)
          div(id="#{cat}")
          if categories[cat].length > 0
            .panel.panel-default(id="#{cat}")
              .panel-heading
                h3 
                  a(href="/results?cat=#{cat}&p=1") #{cat}
              .panel-body
                div(style="margin-left:20px;")
                  each movie in categories[cat]
                    if movie
                      .col-md-3(style="margin-top:10px;width:220px;")
                        .thumbnail(style="height:360px;width:200px")
                          a(href="/m/#{movie._id}",style="display:block;height:255px;width:180px")
                            img(src="#{movie.poster}",alt="#{movie.title}",style="height:255px;width:180px")
                          .caption
                            h5.text-center= movie.title
                            a.btn.btn-primary(href="/m/#{movie._id}",role="button",style="display:block;") 观看预告片 
      - else
        h2 您订阅的电影类型没有更新！
          a.text-success(href="/") 回首页看看















