extends ../layout

block content
  .container
    form(method="get",action="/results",style="top:-50px;position:relative")
      .input-group.col-sm-3.pull-right
        input.form-control(type="text",name="q",placeholder='请输入搜索用户名')
        input.form-control(type="hidden",name="u_list",value="u_list")
        span.input-group-btn
          button.btn.btn-primary(type="submit") 搜索
    .row
      div(style="height:400px")
        table.table.table-hover.table-bordered
          thead
            tr
              th.col-sm-2 用户名
              th.col-sm-2 用户权限
              th.col-sm-2 用户积分
              th.col-sm-2 上次登录时间
              th.col-sm-2 修改权限
              th.col-sm-2 删除
          tbody
            each user in users
              tr(class="user-id-#{user._id}")
                td #{user.username}
                if user.role == 3
                  td 普通用户
                else if user.role ==  2
                  td.text-danger VIP用户
                else 
                  td 管理员
                td #{user.score}
                - if(user.lastSignin)
                  td #{user.lastSignin}
                - else
                  td 无
                td
                  .btn-group
                    button.btn.btn-primary.dropdown-toggle(type="button",data-toggle="dropdown",aria-expanded="false") 修改权限
                      span.caret
                    ul.dropdown-menu(role="menu")
                      li
                        a.changeRole(href="javascript:void(0)",data-uid="#{user._id}",data-role="3") 普通用户
                      li
                        a.changeRole(href="javascript:void(0)",data-uid="#{user._id}",data-role="2") VIP用户
                      li
                        a.changeRole(href="javascript:void(0)",data-uid="#{user._id}",data-role="1") 管理员   
                td
                  - if(user.freeze)
                    button.btn.btn-danger.freeze#cancelFreeze(type="button",data-id="#{user._id}") 解除冻结
                  - else 
                    button.btn.btn-success.freeze#toFreeze(type="button",data-id="#{user._id}") 冻结用户
      ul.pagination.panel-pagination.pull-right
        - for (var i =1;i<=totalPage;i++){
        -   if(currentPage == i){
              li.active
                span= currentPage
        -   }else if(Math.abs(currentPage-i) == 3){
              li
                span ...
        -   }else if(Math.abs(currentPage-i) < 3){
              li
                a(href="/user/list?p=#{i}") #{i}  
        -   }
        - }
