extends ../layout

block content
  .container
    .row
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#tab1",data-toggle="tab") 基本设置
        li
          a(href="#tab2",data-toggle="tab") 安全设置
        - if(currentuser.role === 2)
          li
            a(href="#tab3",data-toggle="tab") 订阅管理
        - else
          li(style="display:none")
            a(href="#tab3",data-toggle="tab") 订阅管理
        - if(currentuser.role > 1)
          li
            a(href="#tab4",data-toggle="tab") 权限申请
      br
      .tab-content
        #tab1.tab-pane.active 
          img.preview.img-rounded.pull-left(src="#{currentuser.avatar}",alt="头像预览",title="用户头像")
          .col-md-9  
            form.form-horizontal#user_setting(action="/user/setting",method="post",enctype='multipart/form-data') 
              input(type="hidden",value="#{currentuser.username}",name="username")
              .form-group
                label.col-sm-2.control-label(for="username") 用户名:
                .col-sm-4
                  input#username.form-control(type="text",name="username",value="#{currentuser.username}",disabled="disabled")
              .form-group
                label.col-sm-2.control-label(for="avatar") 头像:
                .col-sm-4
                  input.avatar.form-control(type="file",name="avatar")
                  //- button#uploadAvatar.btn.btn-primary.btn-sm(type="button") 上传
              .form-group
                label.col-sm-2.control-label(for="sex") 性别:
                .col-sm-4
                  label.radio.pull-left
                    - if(currentuser.sex === 'male')
                      input(type="radio",name="sex",value="male",checked="checked")
                    - else
                      input(type="radio",name="sex",value="male")
                    span 男
                  label.pull-left &nbsp;
                  label.radio.pull-left
                    - if(currentuser.sex === 'female')
                      input(type="radio",name="sex",value="female",checked="checked")
                    - else
                      input(type="radio",name="sex",value="female")
                    span 女  
              .form-group
                label.col-sm-2.control-label(for="signature") 个性签名:
                .col-sm-4
                  textarea#signature.form-control(type="text",name="signature") #{currentuser.signature}
              .form-group
                .col-sm-1.col-md-offset-3
                  button.btn.btn-warning(type="reset") 重置
                .col-sm-2
                  button.btn.btn-success(type="submit") 保存
        #tab2.tab-pane 
          .col-md-9 
            h4 修改密码
            form.form-horizontal#changePwd(action="/user/setting",method="post")
              input(type="hidden",value="#{currentuser.username}",name="username")
              .form-group
                label.col-sm-2.control-label(for="oldPassword") 旧密码:
                .col-sm-4
                  input#oldPassword.form-control(type="password",name="oldPassword")
              .form-group
                label.col-sm-2.control-label(for="newPassword") 新密码:
                .col-sm-4
                  input#newPassword.form-control(type="password",name="newPassword")
              .form-group
                label.col-sm-2.control-label(for="reNewPassword") 确认密码:
                .col-sm-4
                  input#reNewPassword.form-control(type="password",name="reNewPassword")
              .form-group
                .col-sm-1.col-md-offset-3
                  button.btn.btn-warning(type="reset") 重置
                .col-sm-2
                  button.btn.btn-success(type="submit") 保存              
        - if(currentuser.role === 2) // VIP用户
          - var cats = {"动作":"/images/categories/action.jpg","动画":"/images/categories/animation.jpg","喜剧":"/images/categories/comedy.jpg","犯罪":"/images/categories/crime.jpg","剧情":"/images/categories/drama.jpg","爱情":"/images/categories/love.jpg","奇幻":"/images/categories/magic.jpg","科幻":"/images/categories/science.jpg","惊悚":"/images/categories/thriller.jpg","战争":"/images/categories/war.jpg"}
          #tab3.tab-pane
            - for(var cat in cats)
              .panel.panel-default.movie-order.pull-left
                .panel-heading.text-center 
                  h4 #{cat}
                .panel-body
                  img.thumbnail(src="#{cats[cat]}",alt="#{cat}电影订阅")
                .panel-footer
                  - if(currentuser.orders && currentuser.orders.indexOf(cat) !== -1)
                    button.btn.btn-warning.order#order-minus(data-u_id="#{currentuser._id}",data-cat="#{cat}")
                      span.glyphicon.glyphicon-minus
                      spen.text 退订   
                  - else
                    button.btn.btn-success.order#order-add(data-u_id="#{currentuser._id}",data-cat="#{cat}")
                      span.glyphicon.glyphicon-plus
                      spen.text 订阅 
          #tab4.tab-pane              
            button.btn.btn-warning.vip#cancelVIP(data-u_id="#{currentuser._id}") 取消VIP权限
        - else // 非VIP
          - var cats = {"动作":"/images/categories/action.jpg","动画":"/images/categories/animation.jpg","喜剧":"/images/categories/comedy.jpg","犯罪":"/images/categories/crime.jpg","剧情":"/images/categories/drama.jpg","爱情":"/images/categories/love.jpg","奇幻":"/images/categories/magic.jpg","科幻":"/images/categories/science.jpg","惊悚":"/images/categories/thriller.jpg","战争":"/images/categories/war.jpg"}
          #tab3.tab-pane.hide
            - for(var cat in cats)
              .panel.panel-default.movie-order.pull-left
                .panel-heading.text-center 
                  h4 #{cat}
                .panel-body
                  img.thumbnail(src="#{cats[cat]}",alt="#{cat}电影订阅")
                .panel-footer
                  - if(currentuser.orders && currentuser.orders.indexOf(cat) !== -1)
                    button.btn.btn-warning.order#order-minus(data-u_id="#{currentuser._id}",data-cat="#{cat}")
                      span.glyphicon.glyphicon-minus
                      spen.text 退订   
                  - else
                    button.btn.btn-success.order#order-add(data-u_id="#{currentuser._id}",data-cat="#{cat}")
                      span.glyphicon.glyphicon-plus
                      spen.text 订阅    
        - if(currentuser.role === 3) // 普通用户
          #tab4.tab-pane              
            button.btn.btn-success.vip#getVIP(data-u_id="#{currentuser._id}") 申请VIP权限
        

    #setting_message.modal
      .modal-dialog(style="width:300px")
        .modal-content
            .modal-header  
              a.close(href="#",data-dismiss='modal') x
              h4 结果
            .modal-body
                p #{msg}
            .modal-footer
              button.btn(type="button",data-dismiss="modal") 确定

    - if(setting)
      script(type="text/javascript") $('#setting_message').modal('show'); 
